@main("About Chess") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/index.css")'/>

<div class="container">
    <span class="title">
        <h1 class="title">
            About Chess
        </h1>
    </span>
    <div class="content" id="content1">
        <img id="image1" src="@routes.Assets.versioned(" images/chess.png")">
        <p id="content1.1">
            By convention, chess game pieces are divided into white and black sets.
            Each set consists of 16 pieces: one king, one queen, two rooks, two bishops, two knights, and eight pawns.
            The players of the sets are referred to as White and Black, respectively.
            The pieces are set out as shown in the diagram and photo.
        </p>

    </div>

    <div class="content"><p id="content1.2">
        The game is played on a square board of eight rows (called ranks, denoted 1 to 8 from bottom to top according to
        White's perspective) and eight columns (called files, denoted a to h from left to right according to White's
        perspective).
        The 64 squares alternate in color and are referred to as light and dark squares.
        The chessboard is placed with a light square at the right-hand corner nearest to each player.
        Thus, each queen starts on a square of its own color (the white queen on a light square; the black queen on a
        dark square).
    </p></div>

    <div class="rule">
        <p id="content1.3">
        <ul id="rulelist" type="disk">
            <li>The king moves one square in any direction. The king also has a special move called castling that
                involves also moving a rook.
            </li>
            <li>A rook can move any number of squares along a rank or file, but cannot leap over other pieces. Along
                with the king, a rook is involved during the king's castling move.
            </li>
            <li>A bishop can move any number of squares diagonally, but cannot leap over other pieces.</li>
            <li>The queen combines the power of a rook and bishop and can move any number of squares along a rank, file,
                or diagonal, but cannot leap over other pieces.
            </li>
            <li>A knight moves to any of the closest squares that are not on the same rank, file, or diagonal. (Thus the
                move forms an "L"-shape: two squares vertically and one square horizontally, or two squares horizontally
                and one square vertically.) The knight is the only piece that can leap over other pieces.
            </li>
            <li>A pawn can move forward to the unoccupied square immediately in front of it on the same file, or on its
                first move it can advance two squares along the same file, provided both squares are unoccupied (black
                dots in the diagram); or the pawn can capture an opponent's piece on a square diagonally in front of it
                on an adjacent file, by moving to that square (black "x"s). A pawn has two special moves: the en passant
                capture and promotion.
            </li>
        </ul>
        </p>
    </div>
</div>

<div class="container">
  <span class="title">
      <h1 class="title">
          History about chess
      </h1>
  </span>
    <div class="content">
        <img id="image2" src="@routes.Assets.versioned(" images/histo1.jpeg")">
        <p id="content2.1">
            Chess was developed in 6th Century AD in Gupta Empire of India — the game was known as Chaturanga. There is
            a mention of chess in a text from 500 AD.In 7th Century AD it was adopted as Satranj in Sassanid Persia.
            Several variations of chess evolved in Persia.
            In these ancient forms of chess, the Queen would only move 1 step in any direction. The bishop could also
            move only 1 step diagonally.
            By 11th chess travelled to Europe through the Byzantine transmission.
            The next big change in chess was around 1485, when the game of modern chess became popular and has almost
            the same rules till date.
            At some point, an unknown inventor in Italy or Spain bestowed the weakest non-pawn pieces on the board —
            Bishop and Queen — with new powers as in modern chess.
            The game became faster and much more intriguing.
            Though some variants in China and Japan had such pieces centuries earlier.
            It was a sexist society, so the excuse that Queen was now so much powerful than the King was explained with
            that she used her powers to protect her husband.
            This was also known as the Chess of the Mad Queen.
            Chess spread through Europe within the end of the next century.
        </p>>
    </div>

</div>

<div class="container">
    <span class="startthegame"><a id="linktogame" href="/chess">Start the game!</a></span>
</div>

}
